/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --font-family: 'IBM Plex mono', sans-serif;
  --background-image: url(../images/cover-image-dark.png);
  --text-size-medium: 18px;
  --text-size-large: 157px;

  --primary-color: #000028; /* Основной цвет, например, фоновый */
  --accent-color: #FF0070; /* Акцентный цвет, например, для кнопок и ссылок */
  --secondary-color: #F1B2CE; /* Вторичный цвет, например, для подложек */
  --foreground-color: #DB00FF; /* Цвет переднего плана */
  --shadow-color: #FF0070;
  --hover-color: rgba(255, 0, 112, 0.4);

  --title-color: var(--accent-color);
  --subtitle-color: var(--primary-color);
  --decor-color: var(--accent-color);
  --nav-color: var(--accent-color);
}